<main class="home">
  <h1> Vista de Productos</h1>

  <form action="/" method="get">
    <label for="limit">Cantidad de productos a visualizar:</label>
    <input type="number" id="limit" name="limit" min="1" max="100" />
    <button type="submit">Mostrar</button>
  </form>

  <div class="card-container">
    {{#if products.length}}
    {{#each products}}
      <div class="card">        
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <div><p>${{this.price}} - Stock: {{this.stock}}</p></div>
        </div>
    {{/each}}
    {{else}}
    <h2>No hay productos !</h2>
{{/if}}
  </div>

</main>